# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
node_modules/
bower_components/

# Logs and databases
*.log
*.sqlite3
